-var idiomas = "es"
-const METALENGUAJE = "Pug"
-let titulo = 'Iniciando Pug'
-let menuItems = ['Home', 'About']

<!DOCTYPE html>
html(lang=idioma)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Iniciando Pug
    body

    //Esto es un comentario, se haen igual que en Sass y que en js. En Pug hay 4 tipos. Este es el primero

    // Esto es un comentario
        Y asi sigue dentro, al darle a enter o salto de linea y luego darle a tabulador, lo cual anida.
    
    //- Esto es un comentario propiamente de pug, el tercer tipo 
        solo de pug, puede ser de una linea o de varias dando al tabulador, que sería el 4 tipo
    
    //Añadiendo contenido

    pre 
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    | Corporis a beatae saepe et, perspiciatis iste fugiat excepturi pariatur alias cum laboriosam mollitia voluptatem voluptas velit aut. Natus architecto aspernatur molestias.


    
